__pycache__/
*.py[cod]
.Python

.next/
node_modules/
npm-debug.log*

.env
.env.local
.env.development
.env.production
.env.staging

storage.zip

storage/*
!storage/.gitkeep
!storage/backend/
!storage/backend/.gitkeep
!storage/backend/data/
storage/backend/data/*
!storage/backend/data/.gitkeep
!storage/backend/vector_db/
storage/backend/vector_db/*
!storage/backend/vector_db/.gitkeep

